.wp-classic-menu-block {

	> .menu {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		text-align: left;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			position: absolute;
			left: -999em;
		}

		li {
			display: inline-block;
			position: relative;
			text-align: left;
			padding-right: var(--wp--style--block-gap, 2em);

			&:hover {

				> ul {
					left: auto;
				}
			}

			li {
				display: block;

				&:hover {

					> ul {
						left: 100%;
						top: 0;
					}
				}
			}
		}
	}
}
